* {
  font-family: 'Source Serif Pro', serif;
}

@font-face {
  font-family: 'LoveloBlack';
  src: url(Lovelo/Black.otf) format("opentype");
}

hr {
  border: 1px solid black;
}

nav {
  position: relative;
  top: -15px;
  right: 5px;
  float: right;
  padding-bottom: 10px;
}

nav a {
  margin-left: 10px;
  color: black;
  background-color: white;
}

/* #### CSS FOR VIEW: GAME/NEW #### */

.jumbotron {
  border-radius: 5px;
  margin: 20px auto;
  padding: 30px;
  width: 95%;
}

h2 {
  border: 1px solid black;
  font-family: 'LoveloBlack';
  color: white;
  background-color: black;
  width: 100%;
  height: 70px;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 50px;
  padding: 20px;
  font-family: 'Fugaz One', cursive;
}

#title_line {
  margin: auto;
}

.stats_table_div {
  /*border: 1px solid black;*/
  display: inline-block;
  vertical-align: top;
  width: 480px;
  margin-bottom: 50px;
  margin-left: 20px;
  padding: 10px;
}

 #stats_header {
  font-size: 20px;
  font-weight: bold;
}

.stats_table_div th {
  border: 5px solid yellow;
  background-color: yellow;
  width: 200px;
  text-align: center;
  font-size: 16px;
  height: 50px;
}

.stats_table_div td {
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid black;
  height: 50px;
  width: 40%;
}

.decks_div {
  /*border: 1px solid black;*/
  display: inline-block;
  vertical-align: top;
  margin-left: 6em;
  padding-left: 30px;
  padding-right: 10px;
  width: 50%;
}

#deck_header_border {
  border: 1px solid black;
}

#decks_header {
  font-family: 'Source Serif Pro', serif;
}

#deck_name_border {
  width: 50px;
  margin: auto;
  border: 1px solid black;
}

#deck_1 {
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: #91FFB5;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
  height: 230px;
  width: 175px;
}

#deck_2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: #91FFB5;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
  height: 230px;
  width: 175px;
}

#deck_3 {
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: #91FFB5;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
  height: 230px;
  width: 175px;
}

#deck_4 {
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: #91FFB5;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
  height: 230px;
  width: 175px;
}

#deck_5 {
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: #91FFB5;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
  height: 230px;
  width: 175px;
}

#deck_6 {
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: #91FFB5;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
  height: 230px;
  width: 175px;
}


/* #### CSS FOR CARDS WHEN GAME IS BEING PLAYED #### */

#question_div {
  /*border: 1px solid black;*/
  margin: auto;
  width: 70%;
}

#question {
  /*border: 1px solid black;*/
  margin: auto;
  font-family: 'Source Serif Pro', serif;
  font-size: 22px;
  width: 100%;
  height: 50px;
  padding: 5px;
}

#flash_notice {
  /*border: 1px solid black;*/
  background-color: yellow;
  font-size: 18px;
  /*width: 50%;*/
  height: 50px;
  padding: 10px;
}

#form_field {
  width: 40%;
  height: 37px;
  border-radius: 5px;
  margin-right: 3px;
}

#finish_message {
  font-size: 18px;
}

#score_message {
  font-size: 18px;
}

a {
  color: blue;
}

.forms_div {
  margin-left: 20px;
  width: 40%;
}

.form-control {
  margin-top: 5px;
  margin-bottom: 5px;
}
