<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<p> Congratulations, you finished the <%= @game.deck.name %> game.</p>

<p>
  <form action="/games" method="POST">
    <input type="hidden" name="deck_id" value="<%= @game.deck.id %>">
    <input type="submit" value="Play again">
  </form>
</p>

<p> <a href="/games/new"> Return to all decks </a></p>
<p> <a href="/games"> Review your game stats </a></p>
