<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<p> Congratulations, you finished the <%= @game.deck.name %> game.</p>

<p> <a href="/games?deck_id=<%= @deck.id %>"> Play again </a></p>
<p> <a href="/games/new"> Return to all decks </a></p>
<p> <a href="/games"> Review your game stats </a></p>
