<!-- <br><br><hr></hr><br><br>

<p>Hi, <%= @current_user.name %>!</p>
<a href="/games/new">Start a new game</a>

<p>Here are your stats:</p>
<table>
  <thead>
    <th>Deck</th>
    <th>Total Cards</th>
    <th>Total Correct</th>
  </thead>

  <%# @current_user.games.each do |game| %>
  <tr>
    <td><%= game.deck.name %></td>
    <td><%= game.deck.cards.count %></td>
    <td>
      <%= game.guesses.select { |guess| guess.correct }.count %>
    </td>
  </tr>
  <%# end %>
</table>


 -->