<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>


<%= @card.question %>
<form action="/games/<%= @game.id %>/cards/<%= @card.id %>/guess" method="POST">
  <input type="text" name="guess" placeholder="Take a guess!">
  <input type="submit" value="Guess">
</form>

