<form action="/signup" method="post">

  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="email" name="email">
  <input type="password" placeholder="password" name="password">

  <input type="submit" value="Sign Up with our delightful Squirrely Flashcards service">
</form>
